*.ply
*.spz
*.splat
*.npy
result/**/*.npz
result/**/*.npy
training/**/*.mp4
*.gif
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.png
# C extensions
*.so
*.npz
*.spz
# tensor files
*.safe
*.safetensors

# Metal libraries
*.metallib
venv/
metal_internal_lib/

# Distribution / packaging
python/mlx/core
python/mlx/share
python/mlx/include
.Python
build/
build_xcode/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
uv.lock

# vim
*.swp

# Ignore build dir
build/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug symbols
*.pdb

# VSCode 
.vscode/
.DS_Store

# Jetbrains
.cache

submodules/*